flask==3.0.3
Flask-Session
gunicorn==22.0.0
pyTelegramBotAPI==4.27.0
emoji==2.14.1
werkzeug==3.0.3
psutil>=5.9.0
protobuf
requests
aiohttp
discord.py
pandas
numpy
Pillow
beautifulsoup4
redis
pymongo
cryptography
python-dotenv
loguru
google
cfonts
PyJWT
pytz
urllib3
pycryptodome
flask-socketio
eventlet
telegram
